
{{ content_for_index }}



  <div style="margin:50px;">
    <h4>In content of index file</h4>
    <h5>Rufi theme custom setting variables get/set</h5>
    
    <table style="width:300px">
      <tr>
        <td>settings.rufi_products_per_page</td>
        <td>
              {{ settings.rufi_products_per_page }}
        </td>
      </tr>   

    </table>


  </div>




